@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400;500;600&display=swap");

.BuildControls {
  background-color: #f2f2f2;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 1px #ccc;
  width: 50%;
  height: calc(100vh - 56px);
  margin: 0;
  padding: 10px 0px;
}

.BuildControlsTitleContainer {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.BuildControlsTitle {
  align-self: left;
  text-align: left;
  color: #414141;
  font-size: 50px;
  font-weight: 600;
  font-family: "Caveat", cursive;
  padding: 0px 16px;
}

.Price {
  margin: 18px 0px 0px 0px;
}

.OrderButton {
  background-color: #d93232;
  outline: none;
  cursor: pointer;
  border: 1px solid #d93232;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.2em;
  margin: 26px 0;
  padding: 15px 40px;
  box-shadow: 2px 2px 2px #a41406;
  border-radius: 10px 0px 10px 0px;
}

.OrderButton:hover,
.OrderButton:active {
  color: white;
  transform: scale(1.07);
  border: 1px solid #d93232;
}

.OrderButton:disabled {
  background-color: #d93232;
  cursor: pointer;
  border: 1px solid #a41406;
  color: #ffffff;
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 499px) {
  .BuildControls {
    width: 100%;
    height: 80vh;
    margin: 0px 2px;
  }

  .BuildControlsTitleContainer {
    margin: 0px;
    padding: 0px;
    height: auto;
  }

  .BuildControlsTitle {
    padding: 0px 8px;
  }
}
