.BurgerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  overflow: scroll;
}

.Burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px);
  width: 75%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

@media (max-width: 499px) and (min-height: 400px) {
  .BurgerContainer {
    width: 100%;
  }

  .Burger {
    width: 90%;
  }
}

/* @media (min-width: 500px) and (min-height: 401px) {
  .BurgerContainer {
    width: 450px;
    height: 400px;
  }
} */

/* @media (min-width: 1000px) and (min-height: 700px) {
  .BurgerContainer {
    width: 700px;
    height: 600px;
  }
} */
