.Burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  height: calc(100vh - 56px);
  width: 80%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.Icon {
  display: none;
}

@media (max-width: 499px) {
  .Burger {
    width: 100%;
    height: 50vh;
    padding: 0px;
    margin-top: 52px;
    overflow-y: auto;
  }

  .Icon {
    display: flex;
    color: #f2a30f;
    margin: 12px;
    font-size: 116px;
  }
}
