@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.Logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 90%;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 4px;
}

.Logo img {
  padding: 6px;
  height: 100%;
}

.Title {
  margin: 0px;
  padding: 3px 8px 0px 6px;
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  color: #414141;
}

@media (max-width: 499px) {
  .Title {
    font-size: 28px;
    padding: 3px 2px 0px 0px;
  }

  .Logo img {
    padding: 10px 2px;
    height: 100%;
  }
}
