.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  transition: all 0.5s ease-out;
}

.NavigationItem a {
  color: #414141;
  font-weight: bold;
  text-decoration: none;
  height: 100%;
  padding: 12px 24px;
  margin: 0px 16px;
  border-bottom: 1.5px solid #d93232;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  margin-left: -16px;
  font-weight: bold;
  color: #414141;
  border-bottom: 1.5px solid #d93232;
  transition: all 0.3s ease-out;
}

@media (min-width: 500px) {
  .NavigationItem {
    margin: 0px 4px;
    display: flex;
    height: 100%;
    width: auto;
    padding: 1px 0px 0px;
    align-items: center;
  }

  .NavigationItem a {
    color: white;
    height: 100%;
    font-weight: normal;
    padding: 16px 10px;
    border-bottom: 4px solid #f2a30f;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    margin-left: 16px;
    background-color: #f2f2f2;
    border-bottom: 4px solid #d93232;
    color: #414141;
    font-weight: normal;
  }
}
