.Button {
  background-color: #bf6e26;
  border: none;
  width: 40%;
  border-radius: 10px 0px 10px 0px;
  box-shadow: 2px 2px 2px #414141;
  margin: 5px 15px;
  outline: none;
  cursor: pointer;
  font: inherit;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button:disabled {
  cursor: pointer;
}

.Success {
  background-color: #d87602;
}

.Danger {
  background-color: #f2a30f;
}

@media (max-width: 499px) {
  .Button {
    width: 60%;
    margin: 5px 15px;
    cursor: pointer;
    font: inherit;
    font-weight: lighter;
    color: #ffffff;
    padding: 7px;
    margin: 12px;
    font-weight: bold;
  }
}
