.Input {
  width: 100%;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElementContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 1px 2px #414141;
  outline: none;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #ffffff;
}

.InputElement {
  background-color: transparent;
  font: inherit;
  width: 95%;
  border: none;
  padding: 6px;
  display: block;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}

.Invalid {
  background-color: #f8c565;
  border-radius: 8px;
  outline: none;
  width: 85%;
}
